@model catbook.Models.cat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>cat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.about)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.about)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vaccinated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vaccinated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.neutered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.neutered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vaccinationbook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vaccinationbook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatBookUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatBookUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
