@model IEnumerable<catbook.Models.cat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.about)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vaccinated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.neutered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vaccinationbook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatBookUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.about)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vaccinated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.neutered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vaccinationbook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatBookUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
