@model IEnumerable<catbook.Models.request>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}
<h1>Requests</h1>

<h4>Recieved requests</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.requestedCat.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senderUser)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.requestedCat.userId == userId)
            {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.requestedCat.photo)" class="img-thumbnail" style="width: 100px;">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.requestedCat.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.senderUser.catBookUserName)
                    </td>
                    
                    <td>
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </td>
                </tr>
                
            }
       }

    </tbody>
</table>

<div class="p-5"></div>

<h4>Sent requests</h4>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.requestedCat.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contact)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            @if (item.senderUserId == userId)
            {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.requestedCat.photo)" class="img-thumbnail" style="width: 100px;">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.requestedCat.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.contact)
                    </td>
                    
                    <td>
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
